<a id="client_{{member.id}}_assessments_link"
    href="{{url}}"
    target="_blank">
  Edit client assessments
</a>
<script>
  django.jQuery('#client_{{member.id}}_assessments_link').on('click', function(evt) {
    evt.preventDefault();
    showAdminPopup(this, 'nosuchfield');
  })
</script>

<br>

<span>
  Entry:
  {% if member.has_entry_assessment %}
  <em class="assessment-complete">Complete</em>
  {% else %}
  <em class="assessment-incomplete">Not Complete</em>
  {% endif %}
</span>

<br>

<span>
  Exit:
  {% if member.has_exit_assessment %}
  <em class="assessment-complete">Complete</em>
  {% else %}
  <em class="assessment-incomplete">Not Complete</em>
  {% endif %}
</span>
