env/
bin/
include/
lib/
dist/
log/
app.conf
*.pyc
*.sqlite3*

# All environment files, except the template
.env*
!.env.template

# Generated test coverate reports
.coverage

# Other local files
partner-users.yaml
tmpdata/
huddata/
*tmp/
dump-prod.sh
