.inline-group .tabular .dynamic-members.has_original td {
	padding-top: inherit;
}

.dynamic-members:first-child .delete input {
	display: none;
}

.dynamic-members .original p:first-child {
	display:none;
}

.dynamic-entry_assessment > h3,
.dynamic-exit_assessment > h3 {
	display: none;
}

#householdmember_form .field-hoh_relationship label,
#entry_assessment-group label,
#exit_assessment-group label,
#annual_assessments-group label {
	float: none;
	width: auto;
	max-width: 40em;
}

.field-members_display {
	white-space: pre;
}

#householdmember_form .aligned p,
#householdmember_form .aligned ul {
	margin-left: 0;
	padding-left: 12px;
}

fieldset.collapsed h2 {
  background-image: none;
  background-color: #eee;
  color: #333;
  padding-left: 12px;
}

/* Sub-fields */
fieldset.indent {
  padding-left: 5em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
