.vForeignKeyRawIdAdminField {
	display: none;
}

.inline-group .tabular .dynamic-members.has_original td {
	padding-top: inherit;
}

.dynamic-members:first-child .delete input {
	display: none;
}

.dynamic-members .original p:first-child {
	display:none;
}

.dynamic-entry_assessment > h3,
.dynamic-exit_assessment > h3 {
	display: none;
}