<p>Welcome to SimpleHMIS!</p>

<p>This is a simple application used to collect data necessary for generating HUD reports. You have been given access to the application as <b>{{ staff_type }}</b>.</p>

<p>Your username is <b>{{ username }}</b>. You can log in at
<a href="{{ login_url }}">{{ login_url }}</a>. After entering your username into the login box, check your email here for a log in code.</p>

<p>If you have any issues, please let us know at <a href="mailto:{{ help_email }}">{{ help_email }}</a>.</p>

<p>Thanks!</p>
