/* ================================
 * Raw ID fields
 * ================================ */

input.vForeignKeyRawIdAdminField {
  display: none;
}


/* ================================
 * Tables
 * ================================ */

table tbody tr th {
	background-color: transparent;
	text-transform: none;
}


/* ================================
 * User Tools (e.g., view site,
 * change password, log out)
 * ================================ */

#user-tools {
	font-size: 0.75rem;
}


/* ================================
 * Object Tools
 * ================================ */

.object-tools {
	float: right;
	/*margin-top: -4.75em;*/
	list-style: none;
}
.object-tools li {
	float: left;
}


/* ================================
 * Object Search Bar
 * ================================ */

#changelist-search .search {
	margin: 0.625rem 1.25rem 0.6875rem 0;
}


/* ================================
 * Object Edit Form
 * ================================ */

.change-form #content-main {
	margin-top: -4.625rem;
}


/* ================================
 * changelists.css overrides
 * ================================ */

#changelist #toolbar form #searchbar {
	padding: 0.5rem;
}

#changelist #toolbar {
	background: none;
	border-bottom: none;
}

#changelist-filter {
	position: initial;
	width: initial;
}

.change-list .filtered {
	background: none!important;
}

.change-list .filtered .results,
.change-list .filtered .paginator,
.filtered #toolbar,
.filtered div.xfull {
	margin-right: initial!important;
}

#changelist table thead th {
	padding: 0.625rem;
}

#changelist table tbody td:first-child,
#changelist table tbody td,
#changelist table tbody th {
	border: none;
}

.change-list .filtered table {
	border: none;
}
