/* ================================
 * Raw ID fields
 * ================================ */

input.vForeignKeyRawIdAdminField {
  display: none;
}


/* ================================
 * Tables
 * ================================ */

table tbody tr th {
	background-color: transparent;
	text-transform: none;
}